@model Announcment

@{
    ViewData["Title"] = "Szczegóły ogłoszenia";
}

<h1>Szczegóły ogłoszenia</h1>

<div>
    <h3>@Model.Name</h3>
    <p><strong>Opis:</strong> @Model.Description</p>
    <p><strong>Kategoria:</strong> @Model.Category</p>
    <p><strong>Cena:</strong> @Model.Price PLN</p>
    <p><strong>Zweryfikowane:</strong> @(Model.Verified ? "Tak" : "Nie")</p>
</div>


<form asp-controller="Order" asp-action="AddOrder" asp-route-id="@Model.Id" method="post" class="d-inline">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Zamów</button>
</form>

