@model IEnumerable<Order>

<h2>Zarządzaj zamówieniami</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Użytkownik</th>
            <th>Ogłoszenie</th>
            <th>Data zamówienia</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.User.UserName</td>
                <td>@order.Announcement.Name</td>
                <td>@order.OrderDate</td>
                <td>@order.OrderState</td>
                <td>
                    <form asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Edytuj</button>
                    </form>

                    <form asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
