@model IEnumerable<User>

<h2>Zarządzaj użytkownikami</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Email</th>
            <th>Administrator</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {

            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@(user.IsAdmin ? "Tak" : "Nie")</td>
                <td>

                    <form asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Edytuj</button>
                    </form>

                    <form asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
