@model IEnumerable<Announcment>

<h2>Zarządzaj ogłoszeniami</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Zweryfikowane</th>
            <th>Autor</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var announcement in Model)
        {
            <tr>
                <td>@announcement.Id</td>
                <td>@announcement.Name</td>
                <td>@announcement.Description</td>
                <td>@announcement.Price</td>
                <td>@announcement.Category</td>
                <td>@(announcement.Verified ? "Tak" : "Nie")</td>
                <td>@(announcement.User.UserName)</td>

                <td>
                    <form asp-controller="Announcments" asp-action="Delete" asp-route-id="@announcement.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć to ogłoszenie?');">Usuń</button>
                    </form>

                    <form asp-controller="Announcments" asp-action="Edit" asp-route-id="@announcement.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Edytuj</button>
                    </form>

                  @if (!announcement.Verified)
                  {
                    <form asp-controller="Announcments" asp-action="Verify" asp-route-id="@announcement.Id" method="post" class="d-inline">
                       @Html.AntiForgeryToken()
                       <button type="submit" class="btn btn-danger">Weryfikuj (ID = @announcement.Id)</button>
                    </form>
                  }
    
                </td>
            </tr>
        }
    </tbody>
</table>
